<div class='container-fluid'>
  <div class='row'>
    <main class='col-md-9 no-padding' data-type='parallax' data-speed='5'>
      <section id='gallery' class='slideshow'>
        <%= render partial: 'slideshow', locals: { photos: @slideshow_photos } %>
      </section>
      <section id='vision' class='content text-center'>
        <%= render partial: 'vision', locals: { vision: @vision } %>
      </section>

      <%= image_tag "gallery_break.jpg", class: "content-break" %>

      <section id='hostel' class='content text-center'>
        <%= render partial: 'hostel', locals: { hostel: @hostel } %>
      </section>

      <section id="activities" class="content">
        <%= render partial: 'activities', locals: { activities: @activities } %>
      </section>
    </main>
    <nav class='col-md-3 nav-large'>
      <%= render partial: 'nav_large' %>
    </nav>
  </div>
</div>